<%- include('./partials/navigation')  %> 

<div class="bg-title-sub-page jumbo">


    <div class="wrap-title-sub-page">
        <h2 class="title-l">Contestants</h2>
        <h6 class="title-s"> contestants of all categories, Select to vote</h6>
      </div>
      <div class="contestant">
        
          <div class="contestant-card">
            <div class="container">
              <div class="row">
                <div class="col-md-3 mb-5">
                  <div class="card my-card">
                    <%- include('./contestant-imgs/image01') %>
                    <div class="card-img-overlay">
                      <h3 class="my-card-title-l">Name: <%- include('./contestant-name/01') %></h3>
                      <p class=" my-card-title-m">Some example text.</p>
                      <a href="/profile1" class="my-btn">See Profile</a>
                    </div>
                  </div>
                  
                </div>
  
                <div class="col-md-3 mb-5">
                  <div class="card my-card">
                    <%- include('./contestant-imgs/image02') %>
                    <div class="card-img-overlay">
                      <h3 class="my-card-title-l">Name: <%- include('./contestant-name/02') %></h3>
                      <p class=" my-card-title-m">Some example text.</p>
                      <a href="/profile2" class="my-btn">See Profile</a>
                    </div>
                  </div>   
                </div>
  
                <div class="col-md-3 mb-5">
                  <div class="card my-card">
                    <%- include('./contestant-imgs/image03') %>
                    <div class="card-img-overlay">
                      <h3 class="my-card-title-l">Name: <%- include('./contestant-name/03') %></h3>
                      <p class=" my-card-title-m">Some example text.</p>
                      <a href="/profile3" class="my-btn">See Profile</a>
                    </div>
                  </div>
                  
                </div>
  
                <div class="col-md-3 mb-5">
                  <div class="card my-card">
                    <%- include('./contestant-imgs/image04') %>
                    <div class="card-img-overlay">
                      <h3 class=" my-card-title-l"> Name: <%- include('./contestant-name/04') %></h3>
                      <p class=" my-card-title-m">Some example text.</p>
                      <a href="/profile4" class="my-btn">See Profile</a>
                    </div>
                  </div>   
                </div>
  
                <div class="col-md-3 mb-5">
                  <div class="card my-card">
                    <%- include('./contestant-imgs/image05') %>
                    <div class="card-img-overlay">
                      <h3 class=" my-card-title-l"> Name: <%- include('./contestant-name/05') %></h3>
                      <p class=" my-card-title-m">Some example text.</p>
                      <a href="/profile5" class="my-btn">See Profile</a>
                    </div>
                  </div>
                  
                </div>
  
                <div class="col-md-3 mb-5">
                  <div class="card my-card">
                    <%- include('./contestant-imgs/image06') %>
                    <div class="card-img-overlay">
                      <h3 class=" my-card-title-l">Name: <%- include('./contestant-name/06') %></h3>
                      <p class=" my-card-title-m">Some example text.</p>
                      <a href="/profile6" class="my-btn">See Profile</a>
                    </div>
                  </div>
                  
                </div>
  
                <div class="col-md-3 mb-5">
                  <div class="card my-card">
                    <%- include('./contestant-imgs/image07') %>
                    <div class="card-img-overlay">
                      <h3 class= "my-card-title-l">Name: <%- include('./contestant-name/07') %></h3>
                      <p class=" my-card-title-m">Some example text.</p>
                      <a href="/profile7" class="my-btn">See Profile</a>
                    </div>
                  </div>
                  
                </div>
  
                <div class="col-md-3 mb-5">
                  <div class="card my-card">
                    <%- include('./contestant-imgs/image08') %>
                    <div class="card-img-overlay">
                      <h3 class="my-card-title-l">Name: <%- include('./contestant-name/08') %></h3>
                      <p class=" my-card-title-m">Some example text.</p>
                      <a href="/profile8" class="my-btn">See Profile</a>
                     
                    </div>
                  </div>     
                </div>

                <div class="col-md-3 mb-5">
                  <div class="card my-card">
                    <%- include('./contestant-imgs/image09') %>
                    <div class="card-img-overlay">
                      <h3 class=" my-card-title-l">Name: <%- include('./contestant-name/09') %></h3>
                      <p class=" my-card-title-m">Some example text.</p>
                      <a href="/profile9" class="my-btn">See Profile</a>
                     
                    </div>
                  </div>     
                </div>

                <div class="col-md-3 mb-5">
                  <div class="card my-card">
                    <%- include('./contestant-imgs/image010') %>
                    <div class="card-img-overlay">
                      <h3 class="my-card-title-l">Name: <%- include('./contestant-name/010') %></h3>
                      <p class=" my-card-title-m">Some example text.</p>
                      <a href="/profile010" class="my-btn">See Profile</a>
                     
                    </div>
                  </div>     
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

        